# command line interfaces
click
termcolor
tqdm

# interactive programming
ipython
jupyter

# data science and numerical computing
numpy
scipy
scikit-learn
gensim
torch
torchvision

# natural language processing
spacy
allennlp==0.5.1
nltk

wikipedia
pywikibot
